@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 1em 0 0 1em;
  display: block;
  object-fit: cover;
}

.btn {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border: solid 1px hsl(158, 36%, 37%);
  border-radius: 0.5em;
  padding: 1.3em 0;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: opacity ease-in-out 200ms;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  padding: 0.5em;
}

.card__title,
.card__price {
  font-family: "Fraunces", serif;
}

.card {
  width: 100%;
  max-width: 800px;
  display: flex;
  background-color: white;
  border-radius: 1em;
}

.card__image {
  width: 50%;
}

.card__content {
  width: 50%;
  padding: 2em 3em;
}

.card__category {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.2em;
}

.card__title {
  font-size: 2.5rem;
  line-height: 1em;
}

.card__description {
  line-height: 1.7em;
  color: hsl(228, 12%, 48%);
}

.card-price-wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

.card__price {
  font-size: 2.2rem;
  color: hsl(158, 36%, 37%);
}

.card__price-sm {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

@media (max-width: 700px) {
  .section {
    height: 100%;
    padding: 1em;
  }

  .card {
    flex-direction: column;
  }

  .card__image,
  .card__content {
    width: 100%;
  }

  .card__content {
    padding: 1em;
  }

  .card__title {
    font-size: 2rem;
  }

  img {
    border-radius: 1em 1em 0 0;
  }
}
